<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Ramyunlab - 관리자 페이지(상품)</title>
  <style>
    #table_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #form_searchGoods {
      display: flex;
      flex-direction: row;
      justify-content: center;
     }
     h1 {
     text-align : center;
     }
    #searchInput {
      width: 400px;
      height: 30px;
      margin: 10px;
      text-align: center;
     }
     #searchBTN {
      width: 100px;
      height: 30px;
      margin: 10px;
      text-align: center;
     }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      margin: 20px;
    }
    th, td {
      padding: 10px;
      text-align: center;
    }
    .toUser, .toBrand {
      position: absolute;
      right: 30px;
      margin : 10px;
    }
    #pagination {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
            /* 모달 스타일 */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 30px;
        }
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px 30px 20px 20px;
            border: 1px solid #888;
            border-radius: 5px;
            shadow : 0 0 10 10;
            width: 45%;
            height: 75%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
  #editForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    width: 120px; /* 레이블 너비 고정 */
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
}

.form-group input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}
.saveBTN {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}
.updateBTN, .deleteBTN{
    border-radius: 5px;
    padding: 5px 10px;
    border : 1px solid #888;
    }
.updateBTN:hover {
    background-color: #acc4e3;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
    .deleteBTN:hover {
    background-color: #fc6d62;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;

    }
    .addBTN {
      position: absolute;
      right: 30px;
      top: 150px;
    border-radius: 5px;
    padding: 10px 20px;
     border : 1px solid #888;
    }
    .addBTN:hover {
      cursor: pointer;
      border: none;
      border-radius: 5px;
    padding: 10px 20px;
    background-color: #f5ab16;
    }

  </style>
</head>
<body>
  <a th:href="@{/userPage}" style="text-align : end" class="toUser">회원 관리</a></br>
  <a th:href="@{/brandPage}" style="text-align : end" class="toBrand">브랜드 관리</a>
  <h1 style="text-align : center">Ramyun lab - 상품 관리</h1>
  <h2 style="text-align : center">상품 목록</h2>
  <button style="text-align : end" class="addBTN" onclick="openAddModal()">상품 추가</button>
  <div id="table_container">
    <form action="/admin/searchGoods" method="get" id="form_searchGoods">
      <input type="text" placeholder="상품 검색" name="keyword" id="searchInput">
      <button type="button" onclick="searchGoods()" id = "searchBTN">검색</button><br/>
    </form>
  <table id="goodsTable">
    <thead>
    <tr>
      <th></th>
      <th>상품명</th>
      <th>이미지</th>
      <th>칼로리(kcal)</th>
      <th>중량(g)</th>
      <th>면종류</th>
      <th>isCup</th>
      <th>요리방법</th>
      <th>나트륨</th>
      <th>스코빌</th>
      <th>브랜드</th>
      <th>삭제일자</th>
      <th>수정</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <!-- 사용자 데이터가 여기에 동적으로 추가됩니다 -->
    </tbody>
  </table>
  <div id="pagination">
    <!-- 페이지네이션 버튼이 여기에 동적으로 추가됩니다 -->
  </div>
  </div>
<!--상품 수정 모달-->
  <div id="editModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 style="text-align : center">상품 수정</h2>
      <form id="editForm" style="text-align : center">
        <div class="form-group">
          <label for="ramyunName">이름</label>
          <input type="text" id="ramyunName" name="ramyunName">
        </div>
        <div class="form-group">
          <label for="ramyunImg">이미지 URL</label>
          <input type="text" id="ramyunImg" name="ramyunImg" readonly>
          <input type="file" id="ramyunUpdateImg" name="ramyunUpdateImg">
        </div>
        <div class="form-group">
          <label for="ramyunKcal">칼로리(kcal)</label>
          <input type="number" id="ramyunKcal" name="ramyunKcal">
        </div>
        <div class="form-group">
          <label for="gram">중량(g)</label>
          <input type="number" id="gram" name="gram">
        </div>
        <div class="form-group">
          <label for="noodle">면종류</label><br>
          <label for="noodleTrue">유탕면</label>
          <input type="radio" id="noodleTrue" name="noodle" value="true">
          <label for="noodleFalse">건면</label>
          <input type="radio" id="noodleFalse" name="noodle" value="false">
        </div>
        <div class="form-group">
          <label for="isCup">컵라면 여부</label><br>
          <label for="isCupTrue">컵라면</label>
          <input type="radio" id="isCupTrue" name="isCup" value="true">
          <label for="isCupFalse">봉지라면</label>
          <input type="radio" id="isCupFalse" name="isCup" value="false">
        </div>
        <div class="form-group">
          <label for="cooking">요리법</label><br>
          <label for="cookingTrue">국물</label>
          <input type="radio" id="cookingTrue" name="cooking" value="true">
          <label for="cookingFalse">비빔 OR 볶음</label>
          <input type="radio" id="cookingFalse" name="cooking" value="false">
        </div>
        <div class="form-group">
          <label for="ramyunNa">나트륨</label>
          <input type="number" id="ramyunNa" name="ramyunNa">
        </div>
        <div class="form-group">
          <label for="scoville">스코빌</label>
          <input type="number" id="scoville" name="scoville">
        </div>
<!--        <div class="form-group">-->
<!--          <label for="brandName">브랜드</label>-->
<!--          <input type="text" id="brandName" name="brandName">-->
<!--        </div>-->
        <div class="form-group" >
          <label for="brandName">브랜드</label><br>
          <div class=" newBrand">
          <label for="brandName1">농심</label>
          <input type="radio" id="brandName1" name="brandName" value="농심">
          <label for="brandName2">오뚜기</label>
          <input type="radio" id="brandName2" name="brandName" value="오뚜기">
          <label for="brandName3">팔도</label>
          <input type="radio" id="brandName3" name="brandName" value="팔도">
          <label for="brandName4">삼양</label>
          <input type="radio" id="brandName4" name="brandName" value="삼양">
          </div>
        </div>
        <button type="button" onclick="saveGoods()" class="saveBTN">저장</button>
      </form>
    </div>
  </div>
<!--  상품 추가 모달-->
  <div id="addModal" class="modal">
    <div class="modal-content">
      <span id="closeSpan" class="close">&times;</span>
      <h2 style="text-align : center">상품 추가</h2>
      <form id="addForm" style="text-align : center">
        <div class="form-group">
          <label for="ramyunName">이름</label>
          <input type="text" id="newRamyunName" name="ramyunName">
        </div>
        <div class="form-group">
          <label for="newRamyunImg">이미지 URL</label>
          <input type="file" id="newRamyunImg" name="newRamyunImg">
        </div>
        <div class="form-group">
          <label for="newRamyunKcal">칼로리(kcal)</label>
          <input type="number" id="newRamyunKcal" name="newRamyunKcal">
        </div>
        <div class="form-group">
          <label for="newGram">중량(g)</label>
          <input type="number" id="newGram" name="newGram">
        </div>
        <div class="form-group">
          <label for="newNoodle">면종류</label>
          <label for="newNoodleTrue">유탕면</label>
          <input type="radio" id="newNoodleTrue" name="newNoodle" value="true">
          <label for="newNoodleFalse">건면</label>
          <input type="radio" id="newNoodleFalse" name="newNoodle" value="false">
        </div>
        <div class="form-group">
          <label for="newIsCup">컵라면 여부</label><br>
          <label for="newIsCupTrue">컵라면</label>
          <input type="radio" id="newIsCupTrue" name="newIsCup" value="true">
          <label for="newIsCupFalse">봉지라면</label>
          <input type="radio" id="newIsCupFalse" name="newIsCup" value="false">
        </div>
        <div class="form-group">
          <label for="newCooking">요리법</label><br>
          <label for="newCookingTrue">국물</label>
          <input type="radio" id="newCookingTrue" name="newCooking" value="true">
          <label for="newCookingFalse">비빔 OR 볶음</label>
          <input type="radio" id="newCookingFalse" name="newCooking" value="false">
        </div>
        <div class="form-group">
          <label for="newRamyunNa">나트륨</label>
          <input type="number" id="newRamyunNa" name="newRamyunNa">
        </div>
        <div class="form-group">
          <label for="newScoville">스코빌</label>
          <input type="number" id="newScoville" name="newScoville">
        </div>
<!--        <div class="form-group">-->
<!--          <label for="newBrandName">브랜드</label>-->
<!--          <input type="text" id="newBrandName" name="newBrandName">-->
<!--        </div>-->
        <div class="form-group">
          <label for="newBrandName">브랜드</label><br>
          <label for="newBrandName1">농심</label>
          <input type="radio" id="newBrandName1" name="newBrandName" value="농심">
          <label for="newBrandName2">오뚜기</label>
          <input type="radio" id="newBrandName2" name="newBrandName" value="오뚜기">
          <label for="newBrandName3">팔도</label>
          <input type="radio" id="newBrandName3" name="newBrandName" value="팔도">
          <label for="newBrandName4">삼양</label>
          <input type="radio" id="newBrandName4" name="newBrandName" value="삼양">
        </div>
        <button type="button" onclick="addGoods()" class="saveBTN">추가</button>
      </form>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
              const token = localStorage.getItem('jwtToken');

              if (!token) {
                  console.error('토큰이 없습니다.');
                  return;
              }

              axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;

              fetchGoods(0);
              console.log(token);

              async function fetchGoods(page) {
                  try {
                      const res = await axios.get(`/admin/goods?page=${page}`);
                      console.log(res.data);
                      const goods = res.data.data.content;
                      const goodsTableBody = document.querySelector('#goodsTable tbody');
                      goodsTableBody.innerHTML = '';

                      goods.forEach(goods => {
                          const row = `
                              <tr>
                                  <td>${goods.ramyunIdx}</td>
                                  <td>${goods.ramyunName}</td>
                                  <td><a href="${goods.ramyunImg}" target="_blank">${extractFilename(goods.ramyunImg)}</a></td>
                                  <td>${goods.ramyunKcal}</td>
                                  <td>${goods.gram}</td>
                                  <td>${goods.noodle ? '유탕면' : '건면'}</td>
                                  <td>${goods.isCup ? '컵라면' : '봉지라면'}</td>
                                  <td>${goods.cooking ? '국물' : '비빔/볶음'}</td>
                                  <td>${goods.ramyunNa}</td>
                                  <td>${goods.scoville === null ? "-" : goods.scoville}</td>
                                  <td>${goods.brandName}</td>
                                  <td style="${goods.ramyunDeletedAt === null ? '' : 'background-color: grey;'}">
                                  ${goods.ramyunDeletedAt  === null ? "-" : goods.ramyunDeletedAt}
                                  </td>
                                  <td><button onclick="updateGoods(${goods.ramyunIdx})" class="updateBTN">수정</button></td>
                                  <td><button onclick="confirmDeleteGoods(${goods.ramyunIdx})" class="deleteBTN">삭제</button></td>
                              </tr>
                          `;
                          goodsTableBody.insertAdjacentHTML('beforeend', row);
                      });
                      updatePagination(res.data.data);
                  } catch (error) {
                      console.error('사용자 목록 조회 실패', error);
                  }
              }
              function extractFilename(url) {
                // URL에서 파일 이름 추출
                let startIndex = url.lastIndexOf('/') + 1; // 마지막 '/' 다음 위치부터
                let filename = url.substring(startIndex); // 파일 이름 추출
                return filename;
              }

              function updatePagination(pageData) {
                  const pagination = document.querySelector('#pagination');
                  pagination.innerHTML = '';

                  for (let i = 0; i < pageData.totalPages; i++) {
                      const pageButton = `<button onclick="fetchGoods(${i})">${i + 1}</button>`;
                      pagination.insertAdjacentHTML('beforeend', pageButton);
                  }
              }

              window.fetchGoods = fetchGoods; // 페이지네이션 버튼에서 fetchGoods 함수를 사용할 수 있도록 설정
          });

async function searchGoods(){
     try{
       const form = document.getElementById("form_searchGoods");
       const data = {
        keyword : form.keyword.value
       }
       const token = localStorage.getItem('jwtToken');
        const response = await axios.get(`/admin/searchGoods?keyword=${form.keyword.value}`, {
          headers : { "Authorization" :  `Bearer ${token}`}
        });
        console.log("************", response.data.data);
        updateTable(response.data.data);

     }catch(error) {
     console.error('상품 검색 실패', error);
     }
    }

   async function updateTable(goods) {
    try{
    const tableBody = document.querySelector("#goodsTable tbody");
    // 기존 테이블 내용 지우기
    tableBody.innerHTML = "";

        // 새로운 상품 데이터 추가
    goods.forEach(g => {
            const row = `
                <tr>
                    <td>${g.ramyunIdx}</td>
                    <td>${g.ramyunName}</td>
                    <td><a href="${g.ramyunImg}" target="_blank">${extractFilename(g.ramyunImg)}</a></td>
                    <td>${g.ramyunKcal}</td>
                    <td>${g.gram}</td>
                    <td>${g.noodle ? '유탕면' : '건면'}</td>
                    <td>${g.isCup ? '컵라면' : '봉지라면'}</td>
                    <td>${g.cooking ? '국물' : '비빔/볶음'}</td>
                    <td>${g.ramyunNa}</td>
                    <td>${g.scoville === null ? "-" : g.scoville}</td>
                    <td>${g.brandName}</td>
                    <td style="${g.ramyunDeletedAt === null ? '' : 'background-color: grey;'}">
                                  ${g.ramyunDeletedAt  === null ? "-" : g.ramyunDeletedAt}
                                  </td>
                    <td><button onclick="updateGoods(${goods.ramyunIdx})" class="updateBTN">수정</button></td>
                    <td><button onclick="confirmDeleteGoods(${g.ramyunIdx})">삭제</button></td>
                </tr>
            `;
            tableBody.insertAdjacentHTML('beforeend', row);
               function extractFilename(url) {
                // URL에서 파일 이름 추출
                let startIndex = url.lastIndexOf('/') + 1; // 마지막 '/' 다음 위치부터
                let filename = url.substring(startIndex); // 파일 이름 추출
                return filename;
              }
        });
        }catch(error) {
        console.error('상품 목록 조회 실패', error);
        }
}

    // 모달 관련 스크립트
        const editModal = document.getElementById('editModal');
        const addModal = document.getElementById('addModal');
        const span = document.getElementsByClassName('close')[0];
        const closeSpan = document.getElementsByClassName('close')[1];

        span.onclick = function() {
            editModal.style.display = 'none';
        }
        closeSpan.onclick = function() {
            addModal.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target === editModal) {
                editModal.style.display = 'none';
            }else if(event.target === addModal){
            addModal.style.display = 'none';
            }
        }

        // 상품 추가 모달 열기
        function openAddModal() {
          const modal = document.getElementById('addModal');
          modal.style.display = 'block';
        }

        function closeModal() {
          const modal = document.getElementById('addModal');
          modal.style.display = 'none';
        }

            async function addGoods(){
                const form = document.getElementById('addForm');
                const formData = new FormData();

                const ramyunName = document.getElementById('newRamyunName').value;
                const ramyunImg = document.getElementById('newRamyunImg').files[0]; // 파일 선택
                const ramyunKcal = document.getElementById('newRamyunKcal').value;
                const gram = document.getElementById('newGram').value;
                const noodle = document.querySelector('input[name="newNoodle"]:checked').value;
                const isCup = document.querySelector('input[name="newIsCup"]:checked').value;
                const cooking = document.querySelector('input[name="newCooking"]:checked').value;
                const ramyunNa = document.getElementById('newRamyunNa').value;
                const scoville = document.getElementById('newScoville').value;

                const brandName = document.querySelector('input[name="newBrandName"]:checked').value;

                const ramyunDTO = {
                        ramyunName,
                        ramyunKcal,
                        noodle,
                        isCup,
                        cooking,
                        gram,
                        scoville,
                        ramyunNa,
                        brandName
                    };

                    formData.append('ramyunDTO', new Blob([JSON.stringify(ramyunDTO)], { type: 'application/json' }));
                    formData.append('file', ramyunImg); // 파일 추가
                    console.log([...formData.entries()]);

                try {
                    const response = await axios.post('/admin/goods', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    });
                console.log('상품 추가 성공:', response.data);
                closeModal();
                fetchGoods(0);

              } catch (error) {
                console.error('상품 추가 실패:', error);
             }
        }

 function closeEditModal() {
          const modal = document.getElementById('editModal');
          modal.style.display = 'none';
        }

        // 상품 정보 수정 모달 열기
        function updateGoods(ramyunIdx) {
    const token = localStorage.getItem('jwtToken');
    if (!token) {
        console.error('토큰이 없습니다.');
        return;
    }

    axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;

    axios.get(`/admin/goods/${ramyunIdx}`)
        .then(response => {
            const goods = response.data.data;

            document.getElementById('ramyunName').value = goods.ramyunName;
            document.getElementById('ramyunImg').value = goods.ramyunImg;
            document.getElementById('ramyunKcal').value = goods.ramyunKcal;
            document.getElementById('ramyunNa').value = goods.ramyunNa;
            document.getElementById('gram').value = goods.gram;
            document.getElementById('scoville').value = goods.scoville;

            document.querySelector(`input[name="brandName"][value="${goods.brandName}"]`).checked = true;
               // Set the correct radio button for noodle
            document.querySelector(`input[name="noodle"][value="${goods.noodle}"]`).checked = true;

            // Set the correct radio button for isCup
            document.querySelector(`input[name="isCup"][value="${goods.isCup}"]`).checked = true;

            // Set the correct radio button for cooking
            document.querySelector(`input[name="cooking"][value="${goods.cooking}"]`).checked = true;

            document.getElementById('editForm').dataset.ramyunIdx = ramyunIdx;

            editModal.style.display = 'block';
        })
        .catch(error => {
            console.error('상품 정보 조회 실패', error);
        });
}

//상품 정보 저장
 async function saveGoods() {

  const form = document.getElementById('editForm');
const formData = new FormData();

const ramyunName = document.getElementById('ramyunName').value;
const ramyunKcal = document.getElementById('ramyunKcal').value;
const gram = document.getElementById('gram').value;
const noodle = document.querySelector('input[name="noodle"]:checked').value;
const isCup = document.querySelector('input[name="isCup"]:checked').value;
const cooking = document.querySelector('input[name="cooking"]:checked').value;
const ramyunNa = document.getElementById('ramyunNa').value;
const scoville = document.getElementById('scoville').value;
const brand = document.querySelector('input[name="brandName"]:checked').value;

<!--console.log("============= " + document.getElementById('ramyunUpdateImg').files[0]);-->
<!--console.log("********" + document.getElementById('ramyunImg').value);-->
<!--console.log("ramyunImg" + ramyunImg);-->

const ramyunDTO = {
        ramyunName,
        ramyunKcal,
        noodle,
        isCup,
        cooking,
        gram,
        scoville,
        ramyunNa,
        brand
    };
<!--    console.log("ramyunDTO______" + JSON.stringify(ramyunDTO));-->
const ramyunImg = document.getElementById('ramyunUpdateImg').files[0] === undefined ? document.getElementById('ramyunImg').value : document.getElementById('ramyunUpdateImg').files[0]; // 파일 선택



<!--    // Convert to JSON string and add as a blob to FormData-->
    formData.set('ramyunDTO', new Blob([JSON.stringify(ramyunDTO)], { type: 'application/json' }));

<!--    // Add file if it exists-->
        formData.set('file', ramyunImg);
<!--    const ramyunImgInput = document.getElementById('ramyunUpdateImg');-->
<!--    if (ramyunImgInput.files.length > 0) {-->
<!--    }-->

<!--formData.append('ramyunDTO', new Blob([JSON.stringify(ramyunDTO)], { type: 'application/json' }));-->

    // Add file if it exists
<!--    const ramyunImgInput = document.getElementById('ramyunUpdateImg');-->
<!--    if (ramyunImgInput && ramyunImgInput.files.length > 0) {-->
<!--        formData.append('file', ramyunImgInput.files[0], ramyunImgInput.files[0].name);-->
<!--    } else {-->
<!--        const existingImg = document.getElementById('ramyunImg').value;-->
<!--        formData.append('file', new Blob([existingImg], { type: 'text/plain' }), 'existingImg.txt');-->
<!--    }-->

    console.log([...formData.entries()]);


const ramyunIdx = form.dataset.ramyunIdx;
const url = `/admin/goods/${ramyunIdx}`;

       try {
            const response = await axios.patch(url, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
        console.log('상품 추가 성공:', response.data);
        closeEditModal();
        fetchGoods(0);
        // Handle the success response, e.g., redirect or update the UI
      } catch (error) {
        console.error(error);
        alert('상품 수정 실패');
        // Handle the error response
      }
    }

    function confirmDeleteGoods(ramyunIdx) {
        if (confirm("정말 삭제하시겠습니까?")) {
            deleteGoods(ramyunIdx);
        }
      }

    async function deleteGoods(ramyunIdx) {
    const token = localStorage.getItem('jwtToken');

    if (!token) {
        console.error('토큰이 없습니다.');
        return;
    }

    try {
        const response = await axios.delete(`/admin/goods/${ramyunIdx}`, {
            headers: {
                Authorization: `Bearer ${token}`
            }
        });

        if (response.data.statusCode === 200) {
            console.log("상품 삭제 성공");
            fetchGoods(0); // 삭제 후 전체 상품 목록을 갱신합니다.
        } else {
            console.error("상품 삭제 실패", response.data.message);
        }
    } catch (error) {
        console.error('상품 삭제 실패', error);
    }
}
  </script>
</body>
<!--<body sec:authorize="isAnonymous()">-->
<!--  <h1>관리자로 로그인 해주세요.</h1>-->
<!--</body>-->
</html>