<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Ramyunlab - 관리자 페이지(상품)</title>
  <style>
    #table_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      margin: 20px;
    }
    th, td {
      padding: 10px;
      text-align: center;
    }
    a {
      position: absolute;
      right: 30px;
    }
    #pagination {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  </style>
</head>
<body>
  <a th:href="@{/userPage}" style="text-align : end">회원 관리</a>
  <h1 style="text-align : center">Ramyun lab - 상품 관리</h1>
  <h2 style="text-align : center">상품 목록</h2>
  <div id="table_container">
  <table id="goodsTable">
    <thead>
    <tr>
      <th></th>
      <th>상품명</th>
      <th>이미지</th>
      <th>칼로리</th>
      <th>면종류</th>
      <th>isCup</th>
      <th>요리방법</th>
      <th>나트륨</th>
    </tr>
    </thead>
    <tbody>
    <!-- 사용자 데이터가 여기에 동적으로 추가됩니다 -->
    </tbody>
  </table>
  <div id="pagination">
    <!-- 페이지네이션 버튼이 여기에 동적으로 추가됩니다 -->
  </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
              const token = localStorage.getItem('jwtToken');

              if (!token) {
                  console.error('토큰이 없습니다.');
                  return;
              }

              axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;

              fetchGoods(0);
              console.log(token);

              async function fetchGoods(page) {
                  try {
                      const res = await axios.get(`/admin/goods?page=${page}`);
                      console.log(res.data);
                      const goods = res.data.data.content;
                      const goodsTableBody = document.querySelector('#goodsTable tbody');
                      goodsTableBody.innerHTML = '';

                      goods.forEach(goods => {
                          const row = `
                              <tr>
                                  <td>${goods.ramyunIdx}</td>
                                  <td>${goods.ramyunName}</td>
                                  <td>${goods.ramyunImg}</td>
                                  <td>${goods.ramyunKcal}</td>
                                  <td>${goods.noodle}</td>
                                  <td>${goods.isCup}</td>
                                  <td>${goods.cooking}</td>
                                  <td>${goods.ramyunNa}</td>
                              </tr>
                          `;
                          goodsTableBody.insertAdjacentHTML('beforeend', row);
                      });
                      updatePagination(res.data.data);
                  } catch (error) {
                      console.error('사용자 목록 조회 실패', error);
                  }
              }

              function updatePagination(pageData) {
                  const pagination = document.querySelector('#pagination');
                  pagination.innerHTML = '';

                  for (let i = 0; i < pageData.totalPages; i++) {
                      const pageButton = `<button onclick="fetchGoods(${i})">${i + 1}</button>`;
                      pagination.insertAdjacentHTML('beforeend', pageButton);
                  }
              }

              window.fetchGoods = fetchGoods; // 페이지네이션 버튼에서 fetchGoods 함수를 사용할 수 있도록 설정
          });

  </script>
</body>
</html>